:root {
  --outer-shadow: 0 0 0.1vw 0.4rem #e0f7fa, 0 0 0.4rem 0.6rem #00e5ff,
    0 0 1rem 0.4rem #26c6da;
  --inner-shadow: inset 0 0 0.1rem 0.4rem #e0f7fa,
    inset 0 0 0.4rem 0.6rem #00e5ff, inset 0 0 1rem 0.4rem #26c6da;
  --all-shadow: 0 0 0.1rem 0.1rem #e0f7fa, 0 0 0.2rem 0.15rem #da4983,
    0 0 0.5rem 0.1rem #ff0066, inset 0 0 0.1rem 0.1rem #e0f7fa,
    inset 0 0 0.2rem 0.15rem #da4983, inset 0 0 0.5rem 0.1rem #ff0066;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace !important;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}
  *{
  font-family: monospace !important;
  }
.standardBorder {
  border: 1px solid rgba(211, 211, 211, 0.46);
  border-radius: 13px;
}

.MuiAlert-action {
  padding-top: 0px !important;
}
.PC_SignupAndLogin_LoginMessage,
.PC_SignupAndLogin_SignupMessage {
  width: 400px;
}

.postPageCommentsTitle {
  font-size: 1.4rem;
}
.HeaderLogo {
  text-align: center;
  font-weight: 400;
}
.HeaderLogo:hover {
  cursor: pointer;
}
.HeaderLogo {
  font-family: "Sacramento", sans-serif !important;
  font-size: 3.2rem;
  text-shadow: 0 0 10px #fff, 0 0 60px #fff, 0 0 3px #fff, 0 0 14px #ff0066,
    0 0 16px #ff0066, 0 0 40px #ff0066, 0 0 26px #ff0066, 0 0 24px #ff0066;
}

.loginButtonText,
.createPostButton {
  font-weight: bolder;
}

.loggedInUserName {
  display: block;
}
.neonBorder {
  box-shadow: var(--all-shadow);
  border-radius: 13px;
}
.secondaryButtonHoverStyles:hover{
      background-color: rgb(194 82 128 / 15%);
}
@media (max-width: 600px) {
  .loggedInUserName {
    display: none;
  }
}
